<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SAINNL Compiler</title>
    <link rel="stylesheet" href="/resources/jquery-linedtextarea.css">
    <script src="/resources/jquery.js"></script>
    <script src="/resources/jquery-linedtextarea.js"></script>
    <script>
        $(function() {$("textarea").linedtextarea();});
    </script>
    <style type="text/css">
        pre {
            font-family: "Courier New", Verdana;
            font-size: 12px;
            background: #ddd;
            padding: 10px;
        }
    </style>
</head>
<body>
    <form action="" method="POST">
        <label for="package" style="display: inline-block;width: 55px;">Package</label>
        <input type="text" id="package" name="package" value="{{ package|default:"default.package" }}" style="width:800px;"><br>
        <label for="source" style="display: inline-block;width: 55px;">Source</label>
        {% if error %}<span style="color:red">{{ error }}</span>{% endif %}
        <textarea id="source" name="text" style="width:800px;height:300px;">{% autoescape off %}{{ text }}{% endautoescape %}</textarea>
        <input type="submit" value="Compile">
    </form>
    {% if not nnl and not perl and not xml %}
        Library:
        <pre>
            sgl.math.arithmetic.sum A, B
            sgl.math.arithmetic.minus A, B
            sgl.math.arithmetic.multiply A, B
            sgl.math.function.factorial N
            sgl.math.logic.nonzero A
            sgl.math.logic.zero A
            sgl.math.logic.or A, B
            sgl.math.logic.and A, B
            sgl.math.logic.xor A, B
        </pre>
        Examples:
        <pre>
                network X, Y, Z {
                    "X * X + 2 * Y - Z"
                    out X * X + 2 * Y - Z
                }</pre>
        <pre>
                plus A, B {
                    C is additive 0 >= 0, A + B
                    out C
                }
                minus A, B {
                    C is additive 0 >= 0, A - B
                    out C
                }
                multiply A, B {
                    C is additive 0 >= 0, A * B
                    out C
                }
                network X, Y, Z {
                    "X * X + 2 * Y - Z"
                    I = multiply A:=X, B:=X
                    II = multiply 2, Y
                    Z1 = # Z
                    Z2 = # Z1
                    Z3 = # Z2
                    Z4 = # Z3
                    Z5 = # Z4
                    Z6 = # Z5
                    Z7 = # Z6
                    III = minus (C@plus I, II), Z7
                    III2 = minus (C@F=plus I, II), Z7
                    III3 = minus (F2=plus I, II), Z7
                    III4 = minus (plus I, II), Z7
                    out III.C
                }</pre>
        <pre>
                g [i=I] X, Y {
                    V[i] = # X + Y >= 0, i
                    out V[i]
                }
                network N, X, Y {
                    out (g [I:=N] X, Y)
                }</pre>
        <pre>
                g X, Y {
                    V[Y][N] = # X >= 0, Y
                    out V[Y][N]
                }
                network N, X, Y {
                    [Y,N] RES = g X, Y
                    out RES
                }</pre>
    {% endif %}
    {% if nnl %}
        Neural Network Layout<br>
        <pre>{{ nnl }}</pre><br>
    {% endif %}
    {% if perl %}
        Neural Network Perl Configuration<br>
        <pre>{{ perl }}</pre><br>
    {% endif %}
    {% if xml %}
        Neural Network Virtual Machine Configuration<br>
        <pre>{{ run }}</pre><br>
    {% endif %}
</body>
</html>