<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>SAINN</title>
    <script src="/resources/jquery.js"></script>
</head>
<body>
    <a href="{% url 'compiler' %}">Compiler</a>
</body>
</html>